
<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
    <div class="container-xxl d-flex h-100">
        <ul class="menu-inner">

            <!-- Dashboards -->
            <li class="menu-item">
                <a class="menu-link" href="/">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div> </div>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/Account/Admin">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="Administrar Lotes">Administrar Lotes</div>
                </a>
            </li>

            <li class="menu-item">
                <a class="menu-link" href="/Account/AdminUsuarios">
                    <i class="menu-icon tf-icons bx bx-user-circle"></i>
                    <div data-i18n="Administrar Usuarios">Administrar Usuarios</div>
                </a>
            </li>

        </ul>
    </div>
</aside>