@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif:500,600|IBM+Plex+Sans:500,400,700,600|Plus+Jakarta+Sans:500,700|Roboto:600|Inter:500,400,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6657900cd893427e63d032b0.6657900dd893427e63d032b3.TeKfpoY.hcp.png");

@font-face {
  font-family: "SF Pro Text-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Medical care-rafiki.svg");
}
@font-face {
  font-family: "SF Pro Text-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SF-Pro-Text-Bold.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.tenes-preguntas-tomemos-un-cafe {
  height: 82px;
  letter-spacing: 0;
  line-height: 42px;
  margin-right: -10.00px;
  position: relative;
  width: 361px;
}

.footer-links {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 348px;
}

.button-list {
  flex: 0 0 auto;
  position: relative;
}

.copyright-2024-terres {
  letter-spacing: 0.25px;
  line-height: 20px;
  position: relative;
  width: 348px;
}

.de-bustamante-2520-soy {
  letter-spacing: 0;
  line-height: 65px;
  white-space: nowrap;
}

.frame-1171275427 {
  align-items: flex-start;
  display: flex;
  height: 60px;
  left: 161px;
  min-width: 469px;
  position: absolute;
  top: 398px;
}

.nav-items {
	align-items: center;
	display: flex;
	gap: 48px;
	left: 258px;
	overflow: hidden;
	/*position: absolute;*/
	top: 39px;
	width: 777px;
}
.nav-items-about {
	align-items: center;
	display: flex;
	gap: 48px;
	left: 258px;
	overflow: hidden;
	position: absolute;
	top: 39px;
	width: 777px;
}

.pointer{
	cursor:pointer;
}

.menu-item-default {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.header-menu-default {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.menu-item-default-1 {
  flex: 0 0 auto;
  position: relative;
}

.right-items {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  justify-content: flex-end;
  left: 1044px;
  position: absolute;
  top: 29px;
}

.group-36701 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 149px;
  left: 448px;
  min-height: 298px;
  position: absolute;
  top: 33px;
  width: 546px;
}

.headline-1 {
  gap: 8px;
  margin-right: 2.0px;
}

.portal-terres {
  color: var(--tango);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.headline-2 {
  flex: 0 0 auto;
  gap: 16px;
}

.te-vamos-a-enviar-op {
  letter-spacing: 0;
  line-height: 32.0px;
  position: relative;
  text-align: center;
  width: 544px;
}

.mas-de-100-lotes-so {
  letter-spacing: 0;
  line-height: 19.6px;
  margin-right: 2.0px;
  min-height: 20px;
  min-width: 400px;
  text-align: center;
  white-space: nowrap;
}

.frame-868 {
  align-items: center;
  background-color: var(--seashell-peach);
  border: 1px solid;
  border-color: var(--tango);
  border-radius: 8px;
  display: flex;
  gap: 129px;
  height: 80px;
  left: 449px;
  padding: 20px 33px;
  position: absolute;
  top: 207px;
  width: 543px;
}

.ejemplogmailcom {
  color: var(--tango);
  font-family: var(--font-family-plus_jakarta_sans);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.headline-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.body-home-1 {
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-right: 5.0px;
  margin-top: 13px;
  min-height: 80px;
  width: 346px;
}

.concenos {
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 7.0px;
  margin-top: 36px;
  min-height: 41px;
  white-space: nowrap;
  width: 348px;
}

.founder-ceo {
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 20px;
  min-height: 20px;
  white-space: nowrap;
  width: 101px;
}

.nicols-zancare {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 4px;
  min-height: 39px;
  width: 149px;
}

.image-1 {
  background-color: var(--derby);
  border-radius: 20px 20px 0px 0px;
}

.titulo {
  letter-spacing: 0;
  line-height: 19.6px;
  margin-top: 20px;
  min-height: 20px;
  text-align: center;
  white-space: nowrap;
  width: 101px;
}

.nombre-y-apellido {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 1.0px;
  margin-top: 4px;
  min-height: 39px;
  width: 168px;
}

.quizs-te-preguntes {
  letter-spacing: 0;
  line-height: 36px;
  margin-right: 7.0px;
  margin-top: 38px;
  min-height: 41px;
  white-space: nowrap;
  width: 348px;
}

.accordion-item-1 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--derby);
  border: 1px solid;
  border-color: var(--peach-yellow);
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.accordion-title-1 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.chevron {
  height: 20px;
  position: relative;
  width: 20px;
}

.nav-item {
  align-items: center;
  align-self: stretch;
  border-radius: 100px;
  display: flex;
  gap: 12px;
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.group-3675 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 90px;
  width: 361px;
}

.crear-contrasea {
  height: 19px;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-left: 5px;
  white-space: nowrap;
}

.frame-36695 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.social-icon-google {
  height: 20px;
  position: relative;
  width: 20px;
}

.google {
  letter-spacing: 0;
  line-height: 17.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.ftomasossesgmailcom {
  color: var(--hot-cinnamon);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  width: 406px;
}

.line-21-1 {
  height: 1px;
  margin-top: 3.0px;
  object-fit: cover;
  width: 94px;
}

.o-continu-con {
  height: 16px;
  letter-spacing: 0.50px;
  line-height: 16px;
  width: 90px;
}

.line-20-1 {
  height: 1px;
  margin-top: 3.0px;
  object-fit: cover;
  width: 92px;
}

.frame-36695-1 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.google-1 {
  letter-spacing: 0;
  line-height: 17.5px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.span-2 {
  letter-spacing: 0;
  line-height: 24px;
}

.alert-octagon {
  height: 16px;
  width: 16px;
}

.no-autorizado {
  height: 24px;
  letter-spacing: 0.10px;
  line-height: 20px;
  white-space: nowrap;
  width: 90px;
}

.button-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 7px;
  margin-top: 52px;
  min-width: 307px;
}

.container-icon {
  align-items: center;
  background-color: var(--derby);
  border-radius: 999999px;
  display: inline-flex;
  flex: 0 0 auto;
  overflow: hidden;
  padding: 4px;
  position: relative;
}

.content-container {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
  position: relative;
}

.title-description {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.description {
  align-self: stretch;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -1.00px;
  position: relative;
}

.action {
  letter-spacing: 0.10px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.segment {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  padding: 12px 0px 16px;
  position: relative;
}

.icon-container {
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 32px;
}

.badge-label {
  flex: 1;
  letter-spacing: 0.50px;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.plus {
  align-self: center;
  height: 52px;
  margin-left: 1.0px;
  width: 52px;
}

.x2424 {
  letter-spacing: 0;
  line-height: 32.0px;
  min-width: 140px;
  white-space: nowrap;
}

.frame-1171275428 {
  align-items: flex-start;
  background-color: var(--derby);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1026px;
  padding: 62px 46px;
  position: absolute;
  top: 0;
  width: 345px;
}

.union {
  height: 21px;
  transform: rotate(-90.00deg);
  width: 21px;
}

.salir {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 23px;
  min-width: 38px;
}

.nar {
  align-items: center;
  display: inline-flex;
  gap: 36px;
  left: 715px;
  position: absolute;
  top: 54px;
}

.icons-1 {
  height: 46px;
  position: relative;
  width: 46px;
}

.fills-26515179-04ac {
  height: 28px;
  position: relative;
  width: 1px;
}

.frame-20 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.avatar {
  height: 46px;
  position: relative;
  width: 46px;
}

.frame-19 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  position: relative;
}

.frame-18 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.pro {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.toms-o {
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.group-36742 {
  border: 1px dashed;
  border-color: var(--tango);
  border-radius: 35px;
  box-shadow: 0px 2px 3px #00000008;
  height: 299px;
  left: 775px;
  position: absolute;
  top: 203px;
  width: 357px;
}

.tu-terreno {
  color: var(--cumin);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-weight: 600;
  height: 24px;
  left: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
  position: absolute;
  top: 162px;
  white-space: nowrap;
  width: 239px;
}

.dashboard-tabs {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--coolgray20);
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  left: 16px;
  position: absolute;
  top: 309px;
  width: 359px;
}

.tabs::-webkit-scrollbar {
  display: none;
  width: 0;
}

.tabs {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.tabs-item {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
}

.tab-text {
  letter-spacing: 0.50px;
  line-height: 16px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.tab {
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: var(--hot-cinnamon);
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  height: 48px;
  justify-content: center;
  padding: 16px 0px;
  position: relative;
}

.eleg-en-que-valor-v {
  left: 14px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  top: 375px;
  width: 366px;
}

.continuous {
  align-items: center;
  display: flex;
  gap: 6px;
  left: 1px;
  position: absolute;
  top: 52px;
  width: 360px;
}

.active-track {
  align-items: center;
  border-radius: 16px 2px 2px 16px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.track {
  align-self: stretch;
  background-color: var(--cumin);
  border-radius: 16px 2px 2px 16px;
  height: 16px;
  position: relative;
  width: 100%;
}

.handle {
  background-color: var(--cumin);
  border-radius: 2px;
  height: 44px;
  position: relative;
  width: 4px;
}

.inactive-track {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.track-1 {
  align-self: stretch;
  background-color: var(--terres-themesysdarkon-secondary-container);
  border-radius: 2px 16px 16px 2px;
  height: 16px;
  position: relative;
  width: 100%;
}

.track-dot {
  background-color: var(--peach-yellow);
  border-radius: 2px;
  height: 4px;
  left: 164px;
  position: absolute;
  top: 6px;
  width: 4px;
}

.usd-450000-min {
  letter-spacing: 0.50px;
  line-height: 16px;
  min-height: 32px;
  width: 111px;
}

.value-indicator {
  align-items: center;
  align-self: flex-start;
  background-color: var(--cumin);
  border-radius: 100px;
  display: flex;
  gap: 8px;
  height: 41px;
  justify-content: center;
  margin-left: 5px;
  padding: 12px 16px;
  position: relative;
  width: 133px;
}

.usd-650000-max {
  letter-spacing: 0.50px;
  line-height: 16px;
  margin-left: 34px;
  min-height: 32px;
  width: 77px;
}

.rectangle-199 {
  background-color: var(--black-2);
  height: 844px;
  left: 0;
  position: absolute;
  top: 0;
  width: 393px;
}

.horizontalmiddle-inset {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 24px;
  padding: 0px 16px;
  position: absolute;
  top: 555px;
  width: 245px;
}

.mis-lotes {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 22px;
  margin-top: 53px;
  width: 174px;
}

.frame-1171275442 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 26px;
  padding: 0px 20px;
  position: relative;
  width: 393px;
}

.frame-1171275435 {
  align-items: center;
  align-self: stretch;
  display: flex;
  gap: 10px;
  height: 182px;
  position: relative;
  width: 100%;
}

.frame-72 {
  align-items: center;
  align-self: stretch;
  background-color: var(--hot-cinnamon);
  border-radius: 12px;
  box-shadow: 0px 2px 5px #0000000d;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  padding: 24px 0px 10px;
  position: relative;
}

.verified {
  height: 32px;
  position: relative;
  width: 32px;
}

.frame-1171275433 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 2px 0px 12px;
  position: relative;
}

.bustamante-2520 {
  letter-spacing: 0.50px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.frame-73 {
  align-items: center;
  align-self: stretch;
  background-color: var(--derby);
  border: 1px solid;
  border-color: var(--macaroni-and-cheese);
  border-radius: 12px;
  box-shadow: 0px 2px 5px #0000000d;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  padding: 24px 0px 10px;
  position: relative;
}

.honduras-5672 {
  letter-spacing: 0.50px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.ofertas {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: 36px;
  margin-left: 22px;
  margin-top: 40px;
  width: 174px;
}

.light-mode-avatar-type {
  background-color: var(--jaffa);
  border-radius: 200px;
  height: 48px;
  position: relative;
  width: 48px;
}

.tens-una-oferta-por {
  align-self: stretch;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: relative;
}

.filled {
  align-self: stretch;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -1.00px;
  position: relative;
}

.input-active {
  align-self: stretch;
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -1.00px;
  position: relative;
}

.background {
  background-color: var(--derby);
  height: 1026px;
  left: 0;
  position: absolute;
  top: 0;
  width: 345px;
}
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:500,400,700,600|IBM+Plex+Serif:500,600|Roboto:600|Plus+Jakarta+Sans:500,700|Inter:400,600");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6657900cd893427e63d032b0.6657900dd893427e63d032b3.TeKfpoY.hcp.png");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.auto-animated div {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated input {
  --z-index: -1;
  opacity: 0;
  position: absolute;
}

.auto-animated .container-center-vertical,
.auto-animated .container-center-horizontal {
  opacity: 1;
}

.overlay-base {
  display: none;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.overlay-base.animate-appear {
  align-items: center;
  animation: reveal 0.3s ease-in-out 1 normal forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.overlay-base.animate-disappear {
  animation: reveal 0.3s ease-in-out 1 reverse forwards;
  display: block;
  opacity: 1;
  pointer-events: none;
}

.overlay-base.animate-disappear * {
  pointer-events: none;
}
.button-2{
	color:white;
	cursor:pointer;
}
.button-4{
	cursor:pointer;
}
.evit-background{
	
	border: none;
	background: none;
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

input:focus {
  outline: none;
}

.listeners-active,
.listeners-active * {
  pointer-events: auto;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.listeners-active-click,
.listeners-active-click * {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.necesitas-ayuda-esc {
  height: 50px;
  line-height: 18px;
  margin-top: 16px;
  width: 231px;
}

.background-variant4 {
  display: flex;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.overlap {
  position: relative;
  width: 359px;
}

.nav-item {
  align-items: center;
  align-self: stretch;
  border-radius: 100px;
  display: flex;
  gap: 12px;
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.frame-1171275427 {
  display: flex;
  height: 60px;
  left: 161px;
  position: absolute;
  top: 398px;
  width: 469px;
}

.frame-1-1 {
  background-color: var(--derby);
  display: flex;
  width: 469px;
}

.text-field-filled-enabled-1 {
  align-items: flex-start;
  display: flex;
  min-width: 469px;
}

.input-field-1 {
  align-items: center;
  border: 1px solid;
  border-color: var(--hot-cinnamon);
  border-radius: 16px;
  display: flex;
  gap: 10px;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 18px 32px 18px 13px;
  position: absolute;
  top: 0;
  width: 469px;
}

.navigation-bar {
  align-items: flex-start;
  background-color: var(--derby);
  display: flex;
  gap: 8px;
  left: 0;
  padding: 0px 8px;
  position: absolute;
  top: 0;
  width: 393px;
}

.segment {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  justify-content: center;
  padding: 12px 0px 16px;
  position: relative;
}

.icon-container {
  align-items: center;
  border-radius: 16px;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 32px;
}

.state-layer-3 {
  align-items: center;
  justify-content: center;
  position: relative;
}

.leading-icon-nAUKla {
  --z-index: 1;
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  opacity: 1;
  position: relative;
  width: 48px;
}

.state-layer-7DpCHg {
  --z-index: 0;
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  opacity: 1;
  padding: 8px;
  position: relative;
}

.button-xHxYv9 {
  --z-index: 0;
  background-color: transparent;
  color: #fef8ee;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button-8V7Q3m {
  --z-index: 0;
  background-color: transparent;
  color: #fef8ee;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button-EWrWm8 {
  --z-index: 0;
  background-color: transparent;
  color: #fef8ee;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.tenes-preguntas-tomemos-un-cafe-SL1wsW {
  --z-index: 0;
  background-color: transparent;
  color: #ec7c23;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  height: 82px;
  letter-spacing: 0.00px;
  line-height: 42px;
  margin-right: -10.00px;
  opacity: 1;
  position: relative;
  text-align: left;
  width: 361px;
}

.button-SL1wsW {
  --z-index: 1;
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-color: #dd6219;
  border-radius: 12px;
  display: flex;
  gap: 10px;
  height: 56px;
  justify-content: center;
  margin-right: -8.00px;
  opacity: 1;
  padding: 16px 24px;
  position: relative;
  width: 359px;
}

.button-adLGZ7 {
  --z-index: 0;
  background-color: transparent;
  color: #dd6219;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.50px;
  line-height: 24px;
  margin-top: -1.00px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.frame-SL1wsW {
  --z-index: 2;
  background-color: transparent;
  background-image: url(../img/frame-35@2x.png);
  background-size: 100% 100%;
  height: 25px;
  opacity: 1;
  position: relative;
  width: 104px;
}

.footer-links-SL1wsW {
  --z-index: 3;
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  opacity: 1;
  position: relative;
  width: 348px;
}

.label-2B6dSB {
  --z-index: 0;
  background-color: transparent;
  color: #fdeed7;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: -1.00px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.label-9coqvy {
  --z-index: 1;
  background-color: transparent;
  color: #fdeed7;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.label-eGgXiZ {
  --z-index: 2;
  background-color: transparent;
  color: #fdeed7;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.label-pmCMMx {
  --z-index: 3;
  background-color: transparent;
  color: #fdeed7;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  opacity: 1;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button-list-SL1wsW {
  --z-index: 4;
  align-items: center;
  background-color: transparent;
  background-image: url(../img/button-list-3@2x.png);
  background-size: 100% 100%;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  opacity: 1;
  position: relative;
}


.nar {

  align-items: center;

  display: inline-flex;

  gap: 36px;

  left: 715px;

  position: absolute;

  top: 54px;

}



.field {

  align-items: center;

  background-color: var(--derby);

  border: 1px solid;

  border-color: var(--tango);

  border-radius: 32px;

  display: flex;

  gap: 8px;

  padding: 16px;

  position: relative;

  width: 335px;

}



.fills-26515179-04ac {

  height: 28px;

  position: relative;

  width: 1px;

}



.frame-20 {

  align-items: center;

  display: inline-flex;

  flex: 0 0 auto;

  gap: 8px;

  position: relative;

}



.avatar {

  height: 46px;

  position: relative;

  width: 46px;

}



.frame-19 {

  align-items: flex-start;

  display: inline-flex;

  flex: 0 0 auto;

  flex-direction: column;

  gap: 1px;

  justify-content: center;

  position: relative;

}



.frame-18 {

  align-items: center;

  display: inline-flex;

  flex: 0 0 auto;

  gap: 7px;

  position: relative;

}



.pro {

  color: var(--basewhite);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: 12px;

  font-weight: 400;

  letter-spacing: 0;

  line-height: normal;

  margin-top: -1.00px;

  position: relative;

  width: fit-content;

}



.toms-o {

  color: var(--brown-pod);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: 24px;

  font-weight: 500;

  letter-spacing: 0;

  line-height: normal;

  position: relative;

  width: fit-content;

}



.alert-octagon {

  height: 16px;

  width: 16px;

}



.no-autorizado {

  height: 24px;

  letter-spacing: 0.10px;

  line-height: 20px;

  white-space: nowrap;

  width: 90px;

}



.button-container {

  align-items: flex-start;

  align-self: flex-end;

  display: flex;

  gap: 7px;

  margin-top: 52px;

  min-width: 307px;

}



.light-mode-avatar-type {

  background-color: var(--jaffa);

  border-radius: 200px;

  height: 48px;

  position: relative;

  width: 48px;

}



.tens-una-oferta-por {

  align-self: stretch;

  letter-spacing: 0.25px;

  line-height: 20px;

  position: relative;

}



.mis-lotes {

  align-self: flex-start;

  letter-spacing: 0;

  line-height: 36px;

  margin-left: 22px;

  margin-top: 53px;

  width: 174px;

}



.frame-1171275442 {

  align-items: flex-start;

  display: flex;

  flex-direction: column;

  gap: 10px;

  margin-top: 26px;

  padding: 0px 20px;

  position: relative;

  width: 393px;

}



.frame-1171275435 {

  align-items: center;

  align-self: stretch;

  display: flex;

  gap: 10px;

  height: 182px;

  position: relative;

  width: 100%;

}



.frame-72 {

  align-items: center;

  align-self: stretch;

  background-color: var(--hot-cinnamon);

  border-radius: 12px;

  box-shadow: 0px 2px 5px #0000000d;

  display: flex;

  flex: 1;

  flex-direction: column;

  flex-grow: 1;

  gap: 4px;

  padding: 24px 0px 10px;

  position: relative;

}



.verified {

  height: 32px;

  position: relative;

  width: 32px;

}



.frame-1171275433 {

  align-items: center;

  display: inline-flex;

  flex: 0 0 auto;

  flex-direction: column;

  padding: 2px 0px 12px;

  position: relative;

}



.bustamante-2520 {

  letter-spacing: 0.50px;

  line-height: 20px;

  margin-top: -1.00px;

  position: relative;

  text-align: center;

  width: fit-content;

}



.frame-73 {

  align-items: center;

  align-self: stretch;

  background-color: var(--derby);

  border: 1px solid;

  border-color: var(--macaroni-and-cheese);

  border-radius: 12px;

  box-shadow: 0px 2px 5px #0000000d;

  display: flex;

  flex: 1;

  flex-direction: column;

  flex-grow: 1;

  gap: 4px;

  padding: 24px 0px 10px;

  position: relative;

}



.honduras-5672 {

  letter-spacing: 0.50px;

  line-height: 20px;

  margin-top: -1.00px;

  position: relative;

  text-align: center;

  width: fit-content;

}



.ofertas {

  align-self: flex-start;

  letter-spacing: 0;

  line-height: 36px;

  margin-left: 22px;

  margin-top: 40px;

  width: 174px;

}



.segment {

  align-items: center;

  display: flex;

  flex: 1;

  flex-direction: column;

  flex-grow: 1;

  gap: 4px;

  justify-content: center;

  padding: 12px 0px 16px;

  position: relative;

}



.icon-container {

  align-items: center;

  border-radius: 16px;

  display: flex;

  flex: 0 0 auto;

  justify-content: center;

  position: relative;

  width: 32px;

}



.icon-home-1 {

  height: 24px;

  left: 56px;

  position: absolute;

  top: 16px;

  width: 24px;

}



.icon-message-circle-1 {

  height: 24px;

  left: 0;

  position: absolute;

  top: 2px;

  width: 24px;

}



.badge-label-1 {

  flex: 1;

  letter-spacing: 0.50px;

  line-height: 16px;

  position: relative;

  text-align: center;

}



.tenes-preguntas-tomemos-un-cafe {

  color: var(--tango);

  font-family: var(--font-family-ibm_plex_sans);

  font-size: 36px;

  font-weight: 500;

  height: 82px;

  letter-spacing: 0;

  line-height: 42px;

  margin-right: -10.00px;

  position: relative;

  width: 361px;

}



.footer-links {

  align-items: flex-start;

  display: flex;

  flex: 0 0 auto;

  flex-direction: column;

  gap: 24px;

  position: relative;

  width: 348px;

}

.label-2 {
  letter-spacing: 0.25px;
  line-height: 20px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.button-list {
  flex: 0 0 auto;
  position: relative;

}

.span0 {
  letter-spacing: -0.02px;
  line-height: 26.1px;
}

.state-layer-4 {

  align-items: center;

  justify-content: center;

  position: relative;

}

.copyright-2024-terres {
  color: var(--fiery-orange);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: relative;
  width: 348px;

}

.copyright-2024-terres-SL1wsW {
  --z-index: 5;
  background-color: transparent;
  color: #b84a16;
  font-family: 'IBM Plex Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  opacity: 1;
  position: relative;
  text-align: left;
  width: 348px;
}