/* screen - dashboard-datos */

.dashboard-datos {
  align-items: flex-start;
  background-color: var(--basewhite);
  display: flex;
  height: 1024px;
  overflow: hidden;
  width: 1440px;
}

.dashboard-datos .overlap-group4 {
  height: 1026px;
  position: relative;
  width: 1440px;
}

.dashboard-datos .base {
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dashboard-datos .header {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 13px;
  height: auto;
  justify-content: flex-start;
  left: 386px;
  min-height: 79px;
  position: absolute;
  top: 54px;
  width: 251px;
}

.dashboard-datos .x4xl {
  color: var(--peanut);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 38px;
  font-weight: 500;
  letter-spacing: -0.38px;
  line-height: 40.3px;
  white-space: nowrap;
}

.dashboard-datos .paragraph {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 2px;
  min-height: 26px;
}

.dashboard-datos .tabs-2 {
  align-items: flex-end;
  background-color: var(--seashell-peach);
  border-radius: 5px;
  display: flex;
  height: 50px;
  left: 367px;
  overflow: hidden;
  position: absolute;
  top: 162px;
  width: 288px;
}

.dashboard-datos .property-1-default-1 {
  align-items: flex-start;
  display: inline-flex;
  margin-left: 20px;
  position: relative;
}

.dashboard-datos .tabs-3 {
  flex: 0 0 auto;
  position: relative;
}

.dashboard-datos .cards-stats-shared-group-6 {
  left: 388px;
  top: 295px;
}

.dashboard-datos .data-2-7 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
  width: 148px;
}

.dashboard-datos .barrio-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .value-3 {
  flex: 0 0 auto;
  position: relative;
}

.dashboard-datos .place-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .data-1-4 {
  background-color: var(--derby);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--peach-yellow);
  border-right-style: solid;
  border-right-width: 0.5px;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 198px;
}

.dashboard-datos .smp-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .value-4 {
  flex: 0 0 auto;
  margin-right: -1.00px;
  position: relative;
}

.dashboard-datos .x015-054-058-a-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .datos-bsicos-1 {
  left: 388px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  position: absolute;
  top: 258px;
  white-space: nowrap;
}

.dashboard-datos .cards-stats-shared-group-7 {
  left: 388px;
  top: 472px;
}

.dashboard-datos .data-2-8 {
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  height: 167px;
  width: 148px;
}

.dashboard-datos .group-36838-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 24px;
  min-height: 40px;
  position: absolute;
  top: 34px;
  width: 79px;
}

.dashboard-datos .frente-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  white-space: nowrap;
}

.dashboard-datos .x866-m-1 {
  height: 15px;
  letter-spacing: 0;
  line-height: 33px;
  margin-bottom: -18px;
  white-space: nowrap;
}

.dashboard-datos .group-36837-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: -5px;
  left: 24px;
  min-height: 40px;
  position: absolute;
  top: 90px;
  width: 86px;
}

.dashboard-datos .fondo-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  min-height: 14px;
  white-space: nowrap;
}

.dashboard-datos .x4000-m-1 {
  letter-spacing: 0;
  line-height: 33px;
  min-width: 84px;
  position: relative;
  white-space: nowrap;
}

.dashboard-datos .data-1-5 {
  background-color: var(--tango);
  height: 167px;
  width: 198px;
}

.dashboard-datos .superficie-1 {
  color: var(--derby);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 19px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .address-2 {
  color: var(--seashell-peach);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}

.dashboard-datos .parcela-1 {
  left: 388px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  position: absolute;
  top: 428px;
  white-space: nowrap;
}

.dashboard-datos .cards-stats-shared-group-8 {
  left: 388px;
  top: 835px;
}

.dashboard-datos .data-2-9 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin-left: -0.50px;
  padding: 24px;
  width: 172px;
}

.dashboard-datos .altura-segn-cdigo-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-right: -8.00px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .x1720-m-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .data-1-6 {
  background-color: var(--derby);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--peach-yellow);
  border-right-style: solid;
  border-right-width: 0.5px;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 175px;
}

.dashboard-datos .mixtura-de-usos-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .nivel-2-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .cdigo-urbnistico-1 {
  left: 388px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  position: absolute;
  top: 668px;
  white-space: nowrap;
}

.dashboard-datos .overlap-group-2 {
  border-radius: 16px;
  height: 104px;
  left: 388px;
  position: absolute;
  top: 713px;
  width: 346px;
}

.dashboard-datos .cards-stats-shared-group-9 {
  border: 0.5px solid;
  border-color: var(--macaroni-and-cheese);
  left: 0;
  top: 0;
}

.dashboard-datos .data-2-6 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
  width: 346px;
}

.dashboard-datos .unidad-edificable-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .usam-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .rectangle-1551-1 {
  height: 102px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 12px;
}

.dashboard-datos .cards-stats-shared-group-10 {
  border: 0.5px solid;
  border-color: var(--macaroni-and-cheese);
  left: 762px;
  top: 713px;
}

.dashboard-datos .data-2-10 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px 24px 24px 29px;
  width: 346px;
}

.dashboard-datos .group-36851-1 {
  height: 56px;
  position: relative;
  width: 165px;
}

.dashboard-datos .extensin-pisos-y-retros-1 {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 19px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.dashboard-datos .value-5 {
  left: 0;
  position: absolute;
  top: 23px;
}

.dashboard-datos .address-3 {
  line-height: 33px;
}

.dashboard-datos .cards-stats-shared-group-11 {
  left: 762px;
  top: 535px;
}

.dashboard-datos .data-2-11 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin-left: -0.50px;
  padding: 24px;
  width: 184px;
}

.dashboard-datos .estado-de-proteccin-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-right: -4.00px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .nota-caap-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .data-1-7 {
  background-color: var(--derby);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--peach-yellow);
  border-right-style: solid;
  border-right-width: 0.5px;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 163px;
}

.dashboard-datos .ley-3056-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .si-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .patrimonio-1 {
  left: 762px;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  position: absolute;
  top: 256px;
  white-space: nowrap;
}

.dashboard-datos .overlap-group1-1 {
  border-radius: 16px;
  height: 104px;
  left: 762px;
  position: absolute;
  top: 295px;
  width: 346px;
}

.dashboard-datos .cards-stats-shared-group-5 {
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  left: 0;
  top: 0;
}

.dashboard-datos .catalogacin-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .sin-proteccin-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .rectangle-155-1 {
  height: 104px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.dashboard-datos .overlap-group2 {
  border-radius: 16px;
  height: 104px;
  left: 762px;
  position: absolute;
  top: 415px;
  width: 346px;
}

.dashboard-datos .proteccin-1 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .desestimado-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .group-1000002753 {
  align-items: center;
  display: flex;
  gap: 23px;
  height: 80px;
  left: 1023px;
  min-width: 336px;
  position: absolute;
  top: 858px;
}

.dashboard-datos .group-1000002752 {
  align-items: flex-start;
  background-color: var(--tango);
  border-radius: 40px;
  box-shadow: 0px 4px 8px #0000001a;
  display: flex;
  height: 80px;
  min-width: 80px;
  padding: 16.2px;
}

.dashboard-datos .solid-communication-phone {
  height: 48px;
  width: 48px;
}

.dashboard-datos .necesitas-ayuda-esc {
  line-height: 18px;
  margin-top: 2.0px;
  min-height: 50px;
  min-width: 231px;
}

.dashboard-datos .span0 {
  letter-spacing: -0.02px;
  line-height: 26.1px;
}

.dashboard-datos .span-1 {
  letter-spacing: 0;
  line-height: 24px;
}

.dashboard-datos .field {
  align-items: center;
  background-color: var(--derby);
  border: 1px solid;
  border-color: var(--tango);
  border-radius: 32px;
  display: flex;
  gap: 8px;
  padding: 16px;
  position: relative;
  width: 335px;
}

.dashboard-datos .search {
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .tag-1 {
  align-items: center;
  background-color: var(--hot-cinnamon);
  border-radius: 32px;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 10px;
  position: relative;
}

.dashboard-datos .overlap-group3 {
  height: 1026px;
  left: 0;
  position: absolute;
  top: 0;
  width: 345px;
}

.dashboard-datos .frame-1171275428 {
  align-items: flex-start;
  background-color: var(--derby);
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 1026px;
  padding: 62px 51px;
  position: absolute;
  top: 0;
  width: 345px;
}

.dashboard-datos .frame-1 {
  height: 28px;
  width: 117px;
}

.dashboard-datos .flex-row {
  align-items: center;
  display: flex;
  gap: 24px;
  margin-left: 19px;
  margin-top: 169px;
  min-width: 102px;
}

.dashboard-datos .icon-user-1 {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.dashboard-datos .group-1000002714 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 23px;
  margin-top: 1.0px;
  min-width: 46px;
}

.dashboard-datos .text {
  letter-spacing: 0;
  line-height: normal;
  min-height: 23px;
}

.dashboard-datos .group-1000002718 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 27px;
  margin-left: 16px;
  margin-top: 50px;
  min-width: 139px;
}

.dashboard-datos .mdimessage-processing-outline {
  align-items: flex-start;
  display: flex;
  height: 32px;
  overflow: hidden;
  width: 32px;
}

.dashboard-datos .overlap-group-3 {
  height: 30px;
  position: relative;
  width: 32px;
}

.dashboard-datos .icon-message-circle-1 {
  height: 28px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 27px;
}

.dashboard-datos .badge-1 {
  align-items: center;
  background-color: var(--terres-themesyslighterror);
  border-radius: 100px;
  display: flex;
  height: 18px;
  justify-content: center;
  left: 14px;
  max-width: 34px;
  overflow: hidden;
  padding: 0px 4px;
  position: absolute;
  top: 0;
  width: 18px;
}

.dashboard-datos .badge-label-1 {
  flex: 1;
  letter-spacing: 0.50px;
  line-height: 16px;
  position: relative;
  text-align: center;
}

.dashboard-datos .text-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 2px;
  min-height: 23px;
}

.dashboard-datos .group-1000002720 {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-left: 18.67px;
  margin-top: 530px;
  min-width: 96px;
  padding: 0 0.2px;
}

.dashboard-datos .sign-out-icon {
  align-items: flex-end;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  margin-top: -0.17px;
  min-width: 32px;
  padding: 2.7px 5.3px;
  transform: rotate(90.00deg);
}

.dashboard-datos .union {
  height: 21px;
  transform: rotate(-90.00deg);
  width: 21px;
}

.dashboard-datos .salir {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 3.0px;
  min-height: 23px;
  min-width: 38px;
}

.dashboard-datos .button {
  align-items: center;
  background-color: var(--tango);
  border-radius: 16px;
  display: flex;
  gap: 22px;
  height: 64px;
  justify-content: center;
  left: 46px;
  padding: 16px 97px 16px 0px;
  position: absolute;
  top: 155px;
  width: 252px;
}

.dashboard-datos .icon-home-1 {
  height: 30px;
  position: relative;
  width: 30px;
}

.dashboard-datos .text-2 {
  letter-spacing: 0.50px;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .address {
  letter-spacing: 0;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.dashboard-datos .cards-stats-shared-group {
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 2px 4px #0000001a , 0px 1px 10px #0000000d;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  width: 346px;
}

.dashboard-datos .data-1 {
  align-items: flex-start;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
  position: relative;
}

.dashboard-datos .data-2 {
  background-color: var(--derby);
  border-radius: 16px 0px 0px 16px;
  position: relative;
}

.dashboard-datos .value {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
}
/* screen - info-u47-tu-terreno-hoy-all-breakpoints */

.info-u47-tu-terreno-hoy-all-breakpoints {
  align-items: center;
  background-color: var(--seashell-peach);
  display: flex;
  flex-direction: column;
  height: 1675px;
  overflow: hidden;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .top-app-bar {
  align-items: center;
  background-color: var(--derby);
  display: flex;
  height: 64px;
  justify-content: space-between;
  margin-right: 2.0px;
  margin-top: 56px;
  padding: 8px 22px;
  position: relative;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .frame {
  height: 25px;
  position: relative;
  width: 104px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .leading-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 48px;
  justify-content: center;
  position: relative;
  width: 48px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .container {
  align-items: center;
  background-color: var(--tango);
  border-radius: 100px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .state-layer-1 {
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 8px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .icon {
  height: 24px;
  position: relative;
  width: 24px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .overlap-group5 {
  height: 204px;
  margin-top: 39px;
  position: relative;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .overlap-group6 {
  height: 201px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .title {
  height: 134px;
  left: 20px;
  letter-spacing: 0;
  line-height: 47px;
  position: absolute;
  top: 15px;
  width: 355px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .tabs {
  align-items: flex-end;
  background-color: var(--seashell-peach);
  border-radius: 5px;
  display: flex;
  height: 68px;
  left: 0;
  overflow: hidden;
  padding: 18px 20px;
  position: absolute;
  top: 133px;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .property-1-default {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .frame-1171275423 {
  align-items: center;
  display: flex;
  height: 30px;
  left: 19px;
  position: absolute;
  top: 0;
  width: 181px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .span {
  letter-spacing: 0.04px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .tag {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  margin-bottom: -1.00px;
  margin-right: -87.00px;
  margin-top: -1.00px;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .frame-1171275422 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  left: 283px;
  position: absolute;
  top: 0;
}

.info-u47-tu-terreno-hoy-all-breakpoints .datos-bsicos {
  align-self: flex-start;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  margin-left: 19px;
  margin-top: 11px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cards-stats-shared-group-2 {
  margin-right: 9.0px;
  margin-top: 12px;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2-1 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
  width: 148px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .barrio {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .value {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: center;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .place {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-1 {
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--peach-yellow);
  border-radius: 0px 16px 16px 0px;
  border-right-style: solid;
  border-right-width: 0.5px;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 198px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .smp {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .value-1 {
  flex: 0 0 auto;
  margin-right: -1.00px;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .x015-054-058-a {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .parcela {
  align-self: flex-start;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  margin-left: 20px;
  margin-top: 22px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36853 {
  align-items: flex-start;
  display: flex;
  height: 167px;
  margin-right: 7.0px;
  margin-top: 12px;
  min-width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cards-stats-shared-group {
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 2px 4px #0000001a , 0px 1px 10px #0000000d;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2-2 {
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  height: 167px;
  width: 148px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36838 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  left: 24px;
  min-height: 40px;
  position: absolute;
  top: 34px;
  width: 79px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .frente {
  letter-spacing: 0.25px;
  line-height: 19px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .x866-m {
  height: 15px;
  letter-spacing: 0;
  line-height: 33px;
  margin-bottom: -18px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36837 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: -5px;
  left: 24px;
  min-height: 40px;
  position: absolute;
  top: 90px;
  width: 86px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .fondo {
  letter-spacing: 0.25px;
  line-height: 19px;
  min-height: 14px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .x4000-m {
  letter-spacing: 0;
  line-height: 33px;
  min-width: 84px;
  position: relative;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-1-1 {
  background-color: var(--tango);
  height: 167px;
  width: 198px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .superficie {
  color: var(--derby);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 19px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .address {
  color: var(--seashell-peach);
  font-family: var(--font-family-ibm_plex_sans);
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cdigo-urbnistico {
  align-self: flex-start;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  margin-left: 20px;
  margin-top: 27px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36852 {
  align-items: flex-start;
  display: flex;
  margin-right: 7.0px;
  margin-top: 12px;
  min-width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .overlap-group {
  border-radius: 16px;
  height: 104px;
  position: relative;
  width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cards-stats-shared-group-3 {
  border: 0.5px solid;
  border-color: var(--macaroni-and-cheese);
  left: 0;
  position: absolute;
  top: 0;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2 {
  border-radius: 16px 0px 0px 16px;
  width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .unidad-edificable {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .usam {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .rectangle-1551 {
  height: 102px;
  top: 1px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cards-stats-shared-group-4 {
  border: 0.5px solid;
  border-color: var(--macaroni-and-cheese);
  margin-right: 7.0px;
  margin-top: 15px;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px 24px 24px 29px;
  width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36851 {
  height: 56px;
  position: relative;
  width: 165px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .extensin-pisos-y-retros {
  left: 0;
  letter-spacing: 0.25px;
  line-height: 19px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .value-2 {
  left: 0;
  position: absolute;
  top: 23px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .address-1 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36850 {
  align-items: flex-start;
  display: flex;
  height: 104px;
  margin-right: 7.0px;
  margin-top: 15px;
  min-width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2-4 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin-left: -0.50px;
  padding: 24px;
  width: 172px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .altura-segn-cdigo {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-right: -8.00px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .x1720-m {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-1-2 {
  background-color: var(--derby);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--peach-yellow);
  border-right-style: solid;
  border-right-width: 0.5px;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 175px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .mixtura-de-usos {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .nivel-2 {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .patrimonio {
  align-self: flex-start;
  letter-spacing: -0.09px;
  line-height: 26.1px;
  margin-left: 19px;
  margin-top: 27px;
  white-space: nowrap;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36847 {
  align-items: flex-start;
  display: flex;
  margin-right: 9.0px;
  margin-top: 12px;
  min-width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cards-stats-shared-group-1 {
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  left: 0;
  position: absolute;
  top: 0;
}

.info-u47-tu-terreno-hoy-all-breakpoints .catalogacin {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .sin-proteccin {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .rectangle-155 {
  height: 104px;
  top: 0;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36848 {
  align-items: flex-start;
  display: flex;
  margin-right: 9.0px;
  margin-top: 14px;
  min-width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .proteccin {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .desestimado {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-36849 {
  align-items: flex-start;
  display: flex;
  height: 104px;
  margin-right: 9.0px;
  margin-top: 14px;
  min-width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2-5 {
  align-items: flex-start;
  border: 0.5px solid;
  border-color: var(--peach-yellow);
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  margin-left: -0.50px;
  padding: 24px;
  width: 184px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .estado-de-proteccin {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-right: -4.00px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .nota-caap {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-1-3 {
  background-color: var(--derby);
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: var(--peach-yellow);
  border-right-style: solid;
  border-right-width: 0.5px;
  border-top-style: solid;
  border-top-width: 0.5px;
  width: 163px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .ley-3056 {
  letter-spacing: 0.25px;
  line-height: 19px;
  margin-top: -0.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .si {
  letter-spacing: 0;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.info-u47-tu-terreno-hoy-all-breakpoints .group-24 {
  align-items: flex-start;
  display: flex;
  margin-top: 37px;
  min-width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .overlap-group1 {
  height: 83px;
  position: relative;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .navigation-bar {
  align-items: flex-start;
  background-color: var(--derby);
  display: flex;
  gap: 8px;
  left: 0;
  padding: 0px 8px;
  position: absolute;
  top: 0;
  width: 393px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .icon-container-1 {
  align-items: center;
  background-color: var(--macaroni-and-cheese);
  border-radius: 16px;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .state-layer-2 {
  display: flex;
  height: 32px;
  padding: 4px 20px;
  width: 64px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .label-text {
  align-self: stretch;
  letter-spacing: 0.25px;
  line-height: 19px;
  position: relative;
  text-align: center;
}

.info-u47-tu-terreno-hoy-all-breakpoints .state-layer {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 32px;
  justify-content: center;
  margin-left: -16.00px;
  margin-right: -16.00px;
  padding: 4px 20px;
  position: relative;
  width: 64px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .icon-home {
  height: 24px;
  left: 56px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .icon-user {
  height: 24px;
  left: 312px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .overlap-group-1 {
  height: 26px;
  left: 182px;
  position: absolute;
  top: 14px;
  width: 29px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .icon-message-circle {
  height: 24px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 24px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .badge {
  align-items: center;
  background-color: var(--terres-themesyslighterror);
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  left: 13px;
  max-width: 34px;
  min-width: 16px;
  overflow: hidden;
  padding: 0px 4px;
  position: absolute;
  top: 0;
}

.info-u47-tu-terreno-hoy-all-breakpoints .cards-stats-shared-group-5 {
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 2px 4px #0000001a , 0px 1px 10px #0000000d;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 346px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-1-4 {
  align-items: flex-start;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  padding: 24px;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .data-2-6 {
  background-color: var(--derby);
  border-radius: 16px 0px 0px 16px;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .rectangle {
  left: 0;
  position: absolute;
  width: 12px;
}

.info-u47-tu-terreno-hoy-all-breakpoints .state-layer-3 {
  align-items: center;
  justify-content: center;
  position: relative;
}

.info-u47-tu-terreno-hoy-all-breakpoints .value-3 {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 1439px) {
  .screen.dashboard-datos { 
    display: none;
   }
}
@media screen and (min-width: 1440px) {
  .screen.info-u47-tu-terreno-hoy-all-breakpoints { 
    display: none;
   }
}