@{
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
	<meta name="og:type" content="website" />
	<meta name="twitter:card" content="photo" />
	<link rel="stylesheet" type="text/css" href="/css/menu-vendedores.css" />
	<link rel="stylesheet" type="text/css" href="/css/home-v-1.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-001-variante-direccion-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-001-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-002-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-003-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/formulario-004-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/pre-loading-1u472-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/pre-loading-2u472-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/dashboard-onboarding.css" />
	<link rel="stylesheet" type="text/css" href="/css/actividad-2u472-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/onboarding-dashboard-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/ingresar-1-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/tu-terreno-manana-pop-up-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/about-1-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/crear-cuenta-1u472-1-all-breakpoints.css" />
	<link rel="stylesheet" type="text/css" href="/css/editar-perfil-1u472-all-breakpoints.css" />



	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

	<style>
		.screen {
			display: block;
		}

			.screen.active {
				display: block;
			}
	</style>
	<link rel="stylesheet" type="text/css" href="/css/styleguide.css" />
	<link rel="stylesheet" type="text/css" href="/css/globals.css" />
</head>
<body style="margin: 0; background: #fef8ee">


</body>
</html>